---
import BuiltForOne from '../components/BuiltForOne.astro'
import CTA from '../components/CTA.astro'
import Faq from '../components/Faq.astro'
import Features from '../components/Features.astro'
import Hero from '../components/Hero.astro'
import Layout from '../components/Layout.astro'
import Preview from '../components/Preview.astro'
import '../styles/global.css'
---

<Layout
  title="tinytime — a minimal time tracker for one"
  description="A tiny personal time tracker with magic-link sign-in, calendar day view, and useful reports."
  includeSoftwareJsonLd
>
  <Hero />
  <div class="relative tiny-container mx-auto h-24 grid place-items-center">
    <span class="bg-primary/20 w-px h-full rounded-full"></span>
  </div>
  <Preview />
  <div class="relative tiny-container mx-auto h-24 grid place-items-center">
    <span class="bg-primary/20 w-px h-full rounded-full"></span>
  </div>
  <Features />
  <div class="relative tiny-container mx-auto h-24 grid place-items-center">
    <span class="bg-primary/20 w-px h-full rounded-full"></span>
  </div>
  <BuiltForOne />
  <div class="relative tiny-container mx-auto h-24 grid place-items-center">
    <span class="bg-primary/20 w-px h-full rounded-full"></span>
  </div>
  <CTA />
</Layout>
