---
import Footer from './Footer.astro'
import Header from './Header.astro'
import Seo from './Seo.astro'

interface Props {
  title: string
  description: string
  path?: string
  image?: string
  includeSoftwareJsonLd?: boolean
}

const {
  title,
  description,
  path = '/',
  image,
  includeSoftwareJsonLd = false,
} = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <Seo title={title} description={description} path={path} image={image} />
    {includeSoftwareJsonLd ? <script is:inline type="application/ld+json" src="/software-application.jsonld"></script> : null}
    <script is:inline src="/scripts/set-js-class.js"></script>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <script is:inline src="/scripts/live-timers.js"></script>
    <script>
      import '../scripts/anim.ts'
    </script>
  </body>
</html>
